Flow 1
[
    {
        "id": "f2c07b15eedcde57",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "01cb5c35ef2c1cb3",
        "type": "mqtt in",
        "z": "f2c07b15eedcde57",
        "name": "",
        "topic": "/feeds/temp1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6881daa7b7ddf9f0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "3b1819949e156b8f"
            ]
        ]
    },
    {
        "id": "3b1819949e156b8f",
        "type": "smooth",
        "z": "f2c07b15eedcde57",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "4",
        "mult": "single",
        "reduce": false,
        "x": 280,
        "y": 360,
        "wires": [
            [
                "72dfa22e4bd2b469",
                "1b5f99a4f3b79e3e",
                "47f8e46ecff7b374",
                "fbc9cde4013e3a05"
            ]
        ]
    },
    {
        "id": "fbc9cde4013e3a05",
        "type": "ui_gauge",
        "z": "f2c07b15eedcde57",
        "name": "",
        "group": "9f8174e89be5e839",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature1",
        "label": "degrees",
        "format": "{{value}}",
        "min": "0",
        "max": "3.3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 480,
        "y": 300,
        "wires": []
    },
    {
        "id": "72dfa22e4bd2b469",
        "type": "ui_chart",
        "z": "f2c07b15eedcde57",
        "name": "",
        "group": "9f8174e89be5e839",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature1 History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "8",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "1b5f99a4f3b79e3e",
        "type": "debug",
        "z": "f2c07b15eedcde57",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 360,
        "wires": []
    },
    {
        "id": "47df895ea108710a",
        "type": "mqtt in",
        "z": "f2c07b15eedcde57",
        "name": "",
        "topic": "/feeds/temp2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6881daa7b7ddf9f0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 600,
        "wires": [
            [
                "7bfd547d207e1cf2"
            ]
        ]
    },
    {
        "id": "7bfd547d207e1cf2",
        "type": "smooth",
        "z": "f2c07b15eedcde57",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 280,
        "y": 600,
        "wires": [
            [
                "c57d2ff2e644f438",
                "856815690267988b",
                "743b45ccb718578c",
                "e14ad2de6331b19b"
            ]
        ]
    },
    {
        "id": "e14ad2de6331b19b",
        "type": "ui_gauge",
        "z": "f2c07b15eedcde57",
        "name": "",
        "group": "79c460618487a0d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature2",
        "label": "degrees",
        "format": "{{value}}",
        "min": "-40",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 480,
        "y": 540,
        "wires": []
    },
    {
        "id": "c57d2ff2e644f438",
        "type": "ui_chart",
        "z": "f2c07b15eedcde57",
        "name": "",
        "group": "79c460618487a0d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature2 History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "8",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "856815690267988b",
        "type": "debug",
        "z": "f2c07b15eedcde57",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 600,
        "wires": []
    },
    {
        "id": "47f8e46ecff7b374",
        "type": "function",
        "z": "f2c07b15eedcde57",
        "name": "function 1",
        "func": "msg.payload = [{\n    temperature: Number (msg.payload)\n},\n{\n    sensor: \"VoltageTemp\",\n    device: \"arduino1\",\n    location: \"myroom\"\n\n}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 480,
        "wires": [
            [
                "aee4debd531c7e43"
            ]
        ]
    },
    {
        "id": "aee4debd531c7e43",
        "type": "influxdb out",
        "z": "f2c07b15eedcde57",
        "influxdb": "aa78a056167c7bf1",
        "name": "",
        "measurement": "readings",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "3dog",
        "bucket": "Home",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "743b45ccb718578c",
        "type": "function",
        "z": "f2c07b15eedcde57",
        "name": "function 2",
        "func": "msg.payload = [{\n    temperature: Number (msg.payload)\n},\n{\n    sensor: \"I2CTemp\",\n    device: \"arduino1\",\n    location: \"myroom\"\n\n}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 740,
        "wires": [
            [
                "942ad5693ae33006"
            ]
        ]
    },
    {
        "id": "942ad5693ae33006",
        "type": "influxdb out",
        "z": "f2c07b15eedcde57",
        "influxdb": "aa78a056167c7bf1",
        "name": "",
        "measurement": "readings",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "3dog",
        "bucket": "Home",
        "x": 690,
        "y": 740,
        "wires": []
    },
    {
        "id": "badb59b184b395c4",
        "type": "mqtt in",
        "z": "f2c07b15eedcde57",
        "name": "",
        "topic": "/feeds/ph",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "6881daa7b7ddf9f0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 880,
        "wires": [
            [
                "83bb3eb9483aff42"
            ]
        ]
    },
    {
        "id": "83bb3eb9483aff42",
        "type": "smooth",
        "z": "f2c07b15eedcde57",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 280,
        "y": 880,
        "wires": [
            [
                "673ee883dea6357a",
                "341a52285456448d",
                "f86cbd0f5b311348",
                "5aba054ef20839fe"
            ]
        ]
    },
    {
        "id": "5aba054ef20839fe",
        "type": "ui_gauge",
        "z": "f2c07b15eedcde57",
        "name": "",
        "group": "f1765b432c69d58b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pH",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 820,
        "wires": []
    },
    {
        "id": "673ee883dea6357a",
        "type": "ui_chart",
        "z": "f2c07b15eedcde57",
        "name": "",
        "group": "f1765b432c69d58b",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "pH History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "8",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "341a52285456448d",
        "type": "debug",
        "z": "f2c07b15eedcde57",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 880,
        "wires": []
    },
    {
        "id": "f86cbd0f5b311348",
        "type": "function",
        "z": "f2c07b15eedcde57",
        "name": "function 3",
        "func": "msg.payload = [{\n    temperature: Number (msg.payload)\n},\n{\n    sensor: \"pH\",\n    device: \"arduino1\",\n    location: \"myroom\"\n\n}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1020,
        "wires": [
            [
                "dd7ecc56f457f9f0"
            ]
        ]
    },
    {
        "id": "dd7ecc56f457f9f0",
        "type": "influxdb out",
        "z": "f2c07b15eedcde57",
        "influxdb": "aa78a056167c7bf1",
        "name": "",
        "measurement": "readings",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "3dog",
        "bucket": "Home",
        "x": 690,
        "y": 1020,
        "wires": []
    },
    {
        "id": "69c08258333f4846",
        "type": "ui_slider",
        "z": "f2c07b15eedcde57",
        "name": "",
        "label": "Motor Angle",
        "tooltip": "",
        "group": "d0fcdd3e0fead7fa",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "/feeds/angle",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 90,
        "y": 1140,
        "wires": [
            [
                "b8a29fb78ffbd857",
                "58073ff492bbc650"
            ]
        ]
    },
    {
        "id": "b8a29fb78ffbd857",
        "type": "mqtt out",
        "z": "f2c07b15eedcde57",
        "name": "",
        "topic": "/feeds/angle",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6881daa7b7ddf9f0",
        "x": 390,
        "y": 1120,
        "wires": []
    },
    {
        "id": "58073ff492bbc650",
        "type": "debug",
        "z": "f2c07b15eedcde57",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 1180,
        "wires": []
    },
    {
        "id": "9c326d6283f4b265",
        "type": "debug",
        "z": "f2c07b15eedcde57",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 1360,
        "wires": []
    },
    {
        "id": "ec7f26f3aff3dfd7",
        "type": "ui_switch",
        "z": "f2c07b15eedcde57",
        "name": "",
        "label": "Keep Alive",
        "tooltip": "",
        "group": "d0fcdd3e0fead7fa",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "control",
        "topicType": "str",
        "style": "",
        "onvalue": "open",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "close",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 1360,
        "wires": [
            [
                "af1576034963729e"
            ]
        ]
    },
    {
        "id": "5bab9d2db76cacf0",
        "type": "inject",
        "z": "f2c07b15eedcde57",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "onoff",
        "payload": "On",
        "payloadType": "str",
        "x": 60,
        "y": 1300,
        "wires": [
            [
                "af1576034963729e"
            ]
        ]
    },
    {
        "id": "af1576034963729e",
        "type": "gate",
        "z": "f2c07b15eedcde57",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 250,
        "y": 1300,
        "wires": [
            [
                "d4b66c95aa9f3ddc",
                "9c326d6283f4b265"
            ]
        ]
    },
    {
        "id": "d4b66c95aa9f3ddc",
        "type": "mqtt out",
        "z": "f2c07b15eedcde57",
        "name": "",
        "topic": "/feeds/keepalive",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6881daa7b7ddf9f0",
        "x": 420,
        "y": 1300,
        "wires": []
    },
    {
        "id": "5d64235c6888dec9",
        "type": "ui_numeric",
        "z": "f2c07b15eedcde57",
        "name": "",
        "label": "Max angle",
        "tooltip": "",
        "group": "d0fcdd3e0fead7fa",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": true,
        "passthru": true,
        "topic": "/feeds/maxangle",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 90,
        "y": 1500,
        "wires": [
            [
                "c31747948c3101ae",
                "b1bb8ee15f66b1b6"
            ]
        ]
    },
    {
        "id": "c31747948c3101ae",
        "type": "mqtt out",
        "z": "f2c07b15eedcde57",
        "name": "",
        "topic": "/feeds/maxangle",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6881daa7b7ddf9f0",
        "x": 360,
        "y": 1500,
        "wires": []
    },
    {
        "id": "cfd1d7cca48a2816",
        "type": "mqtt out",
        "z": "f2c07b15eedcde57",
        "name": "",
        "topic": "/feeds/minangle",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6881daa7b7ddf9f0",
        "x": 360,
        "y": 1560,
        "wires": []
    },
    {
        "id": "f3220100bd02daae",
        "type": "ui_numeric",
        "z": "f2c07b15eedcde57",
        "name": "",
        "label": "Min angle",
        "tooltip": "",
        "group": "d0fcdd3e0fead7fa",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": true,
        "passthru": true,
        "topic": "/feeds/minangle",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 80,
        "y": 1560,
        "wires": [
            [
                "cfd1d7cca48a2816",
                "58e55f1564b47a3a"
            ]
        ]
    },
    {
        "id": "b1bb8ee15f66b1b6",
        "type": "debug",
        "z": "f2c07b15eedcde57",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 1440,
        "wires": []
    },
    {
        "id": "58e55f1564b47a3a",
        "type": "debug",
        "z": "f2c07b15eedcde57",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 1660,
        "wires": []
    },
    {
        "id": "6881daa7b7ddf9f0",
        "type": "mqtt-broker",
        "name": "Broker1",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9f8174e89be5e839",
        "type": "ui_group",
        "name": "Temperature 1",
        "tab": "1769dc1286b178c4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "79c460618487a0d8",
        "type": "ui_group",
        "name": "Temperature2",
        "tab": "1769dc1286b178c4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa78a056167c7bf1",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Database",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "f1765b432c69d58b",
        "type": "ui_group",
        "name": "pH",
        "tab": "1769dc1286b178c4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d0fcdd3e0fead7fa",
        "type": "ui_group",
        "name": "Controls",
        "tab": "1769dc1286b178c4",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1769dc1286b178c4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
